


    <ul class="nav nav-pills nav-stacked">

        <li>

            <a href="http://moueza.esy.es/m/">
                Accueil DTC3
            </a>

        </li>






        <li>

            <a href="{{ path('inscription') }}">
                Inscription
            </a>

        </li>
        <li>

            <a href="{{ path('inscrits') }}">
                Inscrits
            </a>

        </li>
        <li>

            <a href="http://moueza.esy.es/m/reglement/">
                Règlement
            </a>

        </li>
        <li>

            <a href="{{ path('matchform') }}">
                Match formulaire
            </a>

        </li>
        <li>

            <a href="{{ path('matchsview') }}">
                Matchs
            </a>

        </li>

        <li>

            <a href="{{ path('echeances') }}">
                Échéances
            </a>

        </li>

    </ul>





