<body>
    <h3>Formulaire d'inscription</h3>


    <div class="well">

        {# form(form) }#}

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}


        {{ form_row(form.username) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.username, "*", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.username) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_row(form.isPseudoOVS) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.isPseudoOVS, "*", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.isPseudoOVS) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.isPseudoOVS, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_row(form.email) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.email, "*", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_row(form.password) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.password, "*", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.password) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_row(form.is_femme) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.is_femme, "*", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.is_femme) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.is_femme, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>





        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}




        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

    </div>
</body>